
/*importar los tipos de letras a utilizar y aplicarlos*/
@import url('https://fonts.googleapis.com/css2?family=Righteous&family=Work+Sans:wght@100;300;400;600;800&display=swap');
*{
    box-sizing: border-box;
    font-family: 'Work Sans' ;
    margin: 0;
    padding: 0;
}

html{
    /*Deslizar al hacer click en los links del menu*/
    scroll-behavior: smooth;
}

/*Menu*/
.contenedor-header{
background:#070707;
position: fixed;
width: 100%;
top: 0;
left: 0;
z-index: 99;
}

.contenedor-header header{
    max-width: 1100;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 20px;
}

.contenedor-header header .logo a{
    font-family:serif;
    font-size: 25px;
    color:#ffffff;
    text-decoration: none;

}

.contenedor-header header ul{
   background-color: #165292;
   display: flex;
   list-style: none; 
}

.contenedor-header header nav ul li a{
    text-align: none;
    color:#fff;
    margin: 0 15px;
    padding: 3px;
    transition: .5s;
    text-decoration: none;
}

/*Para el cambio de color en el texto cuando el mouse pase por el menu*/
.contenedor-header header nav ul li a:hover{
    color: #243ff1;
}

.nav-responsive{
    background-color: #ffffff;
    color: #810808;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    display: none;
}

/*SECCION DEL LOGO---BANNER*/

.inicio{
    background-image: url('Imagenes/fondo\ logo.jpg');
    background-size: cover;
    height: 100vh;
    color: #fff;;
    display: flex;
    align-items: center;
}

.inicio .contenido-banner{
    padding: 20px;
    background-color:#000101;
    max-width: 350px;
    margin: auto;
    text-align: center;
    border-radius: 40px;
}

.inicio .contenido-banner img {
    margin-top: 40px;
    border: 5px solid #000101;
    display: block;
    
    width: 70%;
    height: 100%;
    margin: 40px auto; /* Ajusta el margen superior e inferior para centrar verticalmente */
    border-radius: 50%; /* Cambiado de 100% para hacerlo circular */
    max-width: 100%; /* Asegura que la imagen no exceda su tamaño original */
}


.inicio .contenido-banner h1{
    margin-top: 40px;
    font-size: 42px;
    font-family: 'Righteous';
}

.inicio .contenido-banner h2{
    font-size: 18px;
    font-weight: normal;
    font-family: 'Righteous';
}
.inicio .contenido-banner .redes a{
    color:#fff;
    display: inline-block;
    text-decoration: none;
    border: 1px solid #fff;
    border-radius: 100%;
    width: 42px;
    height: 42px;
    line-height: 42px;
    margin: 40px 5px;
    font-size: 20px;
    transition: .3s;
}

.inicio .contenido-banner .redes a:hover{
    background-color: #5DADE2;

}

/*SEGUNDA SECCION----SOBRE NOSOTROS*/
.sobremi{
    background-image: url('Imagenes/sobremi.png');
    
    /* Ajusta el tamaño y posición de la imagen de fondo según tus necesidades */
    background-size: cover; /* Cubre todo el elemento */
    background-position: center; /* Centra la imagen */
    
    /* Agrega un color de fondo como respaldo si la imagen no carga o no ocupa todo el espacio */
    background-color: #f2f2f2;
    background-color: #1e2326;
    color: #fff;
    padding: 50px 20px;
}
.fila{
    display: flex; /* Establece un contenedor flexible */
    justify-content: center; /* Centra horizontalmente el contenido */
    align-items: center; /* Centra verticalmente el contenido */
    height: 50vh; /* Ajusta la altura al 100% del viewport */
    text-align: center; /* Centra el contenido de manera horizontal */
  }

.sobremi .contenido-seccion{
    max-width: 1100px;
    margin: auto;
}
.lista{
    background-color: #5DADE2;
    padding: 1px 1px;
    margin: 0%;
}

.sobremi .h2{
    font-size: 48px;
    font-family: 'Righteous';
    text-align: center;
    padding: 20px 0;
}

.sobremi .contenido-seccion p{
    font: 18px;
    color:black;
    line-height: 22px;
    margin-bottom: 20px;
    text-align: justify;
}

.sobremi .contenido-seccion p span{
    color: #5DADE2;
    font-weight: bold;
}

.sobremi .fila{
    display: flex;
}

.sobremi .fila .col{
    width: 50%;
}

.sobremi .fila .col h3{
    font-size: 28px;
    font-family: 'Righteus';
    margin-bottom: 25px;
} 

.sobremi .fila .col ul{
    list-style: none;
   
}

.sobremi .fila .col ul li{
    margin: 12px 0;
    text-align: left;
  
}

.sobremi .fila .col ul li strong{
    display: inline-block;
    color: #012e06;
    width: 130px;
  
   
}

.sobremi .fila .col ul li span{
    background-color: #5DADE2;
    padding: 3px;
    font-weight: bold;
    border-radius: 5px;
}





.sobremi .fila .col .contenedor-intereses .interes:hover{
    background-color: #5DADE2;
}

.sobremi .fila .col .contenedor-intereses .interes i{
    font-size: 30px;
    margin-bottom: 10px;
}

.sobremi button{
    cursor: pointer;
    background-color: transparent;
    border: 2px solid #fff;
    width: fit-content;
    display: block;
    margin: 20px auto;
    padding: 10px 22px;
    font-size: 16px;
    color: #fff;
    position: relative;
    z-index: 10;
}

.sobremi button .overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background-color: #5DADE2;
    z-index: -1;
    transition: 1s;
}

.sobremi button:hover .overlay{
    width: 100%;
}




/*QUINTA SECCION----PORTFOLIO*/

    /* Selecciona el elemento al que quieres aplicar la imagen de fondo */
    .portfolio{
    /* Especifica la URL de la imagen que deseas usar como fondo */
    background-image: url('Imagenes/murillod3.png');
    
    /* Ajusta el tamaño y posición de la imagen de fondo según tus necesidades */
    background-size: cover; /* Cubre todo el elemento */
    background-position: center; /* Centra la imagen */
    
    /* Agrega un color de fondo como respaldo si la imagen no carga o no ocupa todo el espacio */
    background-color: #f2f2f2;
  }
  


.pdf-button-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.inf-button {
    margin: 10px;
    padding: 10px 10px;
    background-color: #0d7ea4;
    color: black;
    font-weight: bold;
    border: none;
    border-radius: 20px;
    font-size: 15px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    transition: background-color 0.3s;
    width: 310px; /* Ajusta el ancho para que todos los botones tengan el mismo tamaño */
}
.pdf-button {
    margin: 10px;
    padding: 10px 10px;
   background-color: #0cafa2;
    color: black;
    font-weight: bold;
    border: none;
    border-radius: 20px;
    font-size: 15px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    transition: background-color 0.3s;
    width: 310px; /* Ajusta el ancho para que todos los botones tengan el mismo tamaño */
}
/* BOTON PARA DESCARGAR PDFs*/
.btn-descargarpdf{
    margin: 10px;
    padding: 1px 1px;
    background-color: #fff;
    color: rgb(16, 15, 15);
    border: none;
    border-radius: 20px;
    font-size: 13px;
    text-align: center;
    cursor: pointer;
}

.pdf-button:hover {
    background-color: #0056b3;
}

.portfolio{
    background-color: #252A2E;
    color: #fff;
    padding: 50px 20px;
}

.portfolio .contenido-seccion{
    max-width: 1100px;
    margin: auto;
}

.portfolio .h2{
    font-size: 48px;
    font-family: 'Righteous';
    text-align: center;
    padding: 20px 0;
}



/*SEXTA SECCION----PORTFOLIO*/

.contacto{
    background-image: url(Imagenes/contact_bg.png);
    background-color: #1e2326;
    color:#fff;
    padding: 50px 0;
    
    
}



/* Centrar el contenido del div .contenido-seccion */
.contenido-seccion {
    text-align: center;
}

/* Estilos para la imagen */
.contenido-seccion img {
    display: block; /* Para eliminar cualquier espacio en blanco debajo de la imagen */
    margin: 0 auto; /* Para centrar horizontalmente */
    max-width: 100%; /* Para asegurar que la imagen no sea más ancha que su contenedor */
    height: auto; /* Para mantener la relación de aspecto original de la imagen */
    max-height: 400px; /* Ajusta el tamaño máximo que desees para la imagen */
}
.ubication{
        
        border: 10px solid #1098bb;
        border-radius: 50px; /* Cambia el valor para ajustar el nivel de redondeo */
      

}



/*FOOTER*/



/*RESPONSIVE*/

@media screen and (max-width:980px){
    nav{
        display: none;
    }
    .nav-responsive{
        display: block;
    }
    nav.responsive{
        display: block;
        position: absolute;
        right: 0;
        top: 75px;
        background-color: #74baf3;
        width: 180px;
    }
    nav.responsive ul{
        display: block !important;
    }
    nav.responsive ul li{
        border-bottom: 1px solid #fff;
        padding: 10px 0;
    }
}
@media screen and (max-width:700px){
    .sobremi .fila{
        display: block;
    }
    .sobremi .fila .col{
        width: fit-content;
    }

    .skills .fila{
        display: block;
    }
    .skills .fila .col{
        width: 100%;
    }
    .skills .fila .col .barra-skill{
        width: 100%;
    }

    .curriculum .fila{
        display: block;
    }
    .curriculum .fila .col{
        width: 90%;
    }
    .curriculum .fila .derecha{
        margin-left: 20px;
    }

    .portfolio .galeria{
        display: block;
        width: 100%;
    }
    .portfolio .galeria .proyecto{
        max-width: 100%;
    }
    .portfolio .galeria .proyecto img{
        width: 100%;
    }
    .contacto .fila{
        display: block;
    }
    .contacto .fila .col{
        width: 100%;
    }
}














